#!/usr/bin/make -f

override_dh_auto_configure:
	dh_auto_configure -- --disable-setuid-install \
		--enable-drm-compositor \
		--disable-x11-compositor \
		--enable-setuid-install \
		--enable-weston-launch \
		--with-cairo-glesv2 \
		--enable-clients \
		--enable-simple-clients

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_install:
	dh_install --fail-missing -X.la

override_dh_makeshlibs:
	# No-op: libraries are private, not shared.

%:
	dh $@ --with quilt,autoreconf

