#!/usr/bin/make -f

SOURCE=wayland
PACKAGE=libwayland0

# Install in debian/tmp to retain control through dh_install:
override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

# Kill *.la files, and forget no-one:
override_dh_install:
	find debian/tmp -name '*.la' -delete
	dh_install --fail-missing

# Provide our own configure options.
# Doxygen has massive deps, and we want this to be a slim build.
override_dh_auto_configure:
	./configure --prefix=/usr --disable-documentation

# Debug package:
override_dh_strip:
	dh_strip --dbg-package=$(PACKAGE)-dbg

%:
	dh $@ --with quilt,autoreconf --builddirectory=build/

